<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Voting App</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
 <header>
   <h1>
     polls for days!!!
   </h1>
   <nav role="navigation">
     <span><a href="/new">Add a Poll</a></span>
   </nav>
 </header>
  <ul class="polls"></ul>
  
  <footer>
      <p>Made with Node + MongoDB</p>
  </footer>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="/app.js"></script>
</body>
</html>