html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title Poll Machine - #{pageTitle}
    style
      include ../public/style.css
  body
    header(role="navigation")
      a(href="/") #[h1 Poll Machine]
      nav
        span #[a(href="/") Home]
        span #[a(href="/new") Add a New Poll]
        span #[a(href="#") Sign In]
    block content
    footer
      p Made with Node, Express, and MongoDB
    block scripts