<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Add a New Poll</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
 <header>
   <h1>
     Create a New Poll
   </h1>
 </header>
  <section class='main'>
    <form action="/api" method="post">
      <label for="question">Poll Question</label>
      <input type="text" name="question" id="question" placeholder="What do you want your poll to ask?">
      <label for="author">Author</label>
      <input type="text" name="author" id="author" placeholder="Author">
      <p>Poll Choices</p>
      <label for="choice1">What is the first choice?</label>
      <input type="text" name="option1" id="option1">
      <label for="choice2">What is the second choice?</label>
      <input type="text" name="option2" id="option2">
      <button type="submit">Submit</button>
    </form>

    
  </section>
  
  <footer>
      <p>Made with Node + MongoDB</p>
  </footer>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="/app.js"></script>
</body>
</html>