extends layout.pug

block content      
  .main
    h1 Poll: #{question}
    p By #{author}
    p Options:
      ol
        each choice in choices
          - let name = choice.choiceText;
          - name = name[0].toUpperCase() + name.substr(1);
          .choice
            li #{name}  #[span.votes Votes: #{choice.votes}]
          

block scripts
  script(src="/poll.js")
