* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  margin-left: 1rem;
  margin-right: 1rem;

}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav span {
  margin-left: 2rem;
}

header a {
  text-decoration: none;
}

header nav a {
  text-transform: capitalize;
  color: black;
}

header h1 {
  color: rgb(32, 57, 199);
}

.main {
  align-self: center;
}

.polls {
  min-width: 600px;
}

.polls li {
  font-size: 1.5rem;
  padding: 0.5rem;
}
.polls a {
  text-decoration: none;
  color: black;
}

.polls li .delete {
  float: right;
  margin-right: 1rem;
  opacity: 0.25;
  transition: 0.5s;
}

.polls li:hover {
  background: lightgray;
  cursor: pointer;
}

.polls li:hover .delete {
  opacity: 1;
  color: red;
}


footer {
  align-self: center;
}